/* ----- BASIC SETUP ----- */

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	color: #555;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/* clearfix clears the float after the element */

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/* ----- REUSABLE COMPONENTS ----- */

.row {
	max-width: 1280px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
	/* in order to preserve the background color we need to make sure that the whitespace is inside the boxes */
}

.box {
	padding: 1%;
}

/* ----- HEADINGS ----- */

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	letter-spacing: 1px;
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 4px;
}

h2 {
	letter-spacing: 1px;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
	text-align: center;
}

h2:after {
	display: block;
	height: 4px;
	background-color: #69B600;
	content: " ";
	/* whenever we do an after pseudo-class we have to specify its content, so in this case we don't want any words to appear */
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

/* ----- PARAGRAPHS ----- */

.long-copy {
	line-height: 145%;
	width: 70%;
	/* the remaining 30% are distributed to both sides */
	margin-left: 15%;
	/* that's why we define margin of 15%, 15% left and 15% right are 30% and plus 70% of the width it's 100% */
	text-align: center;
}

.box p {
	line-height: 145%;
	text-align: justify;
}

/* ----- ICONS ----- */

.icon-big {
	font-size: 500%;
	display: block;
	color: #69B600;
	margin-bottom: 20px;
	text-align: center;
}

.icon-small {
	display: inline-block;
	width: 13%;
	/* so we can align them */
	text-align: center;
	color: #69B600;
	font-size: 120%;
	margin-right: 10px;
	/* way to align text and icons */
	line-height: 120%;
	vertical-align: middle;
	margin-top: 0;
}

.ion-ios-checkmark-empty::before,
.ion-ios-close-empty::before {
	font-size: 60px;
}

/* ----- LINKS ----- */

a:link,
a:visited {
	color: #69B600;
	text-decoration: none;
	padding-bottom: 1px;
	/* so we have some space between the text and the border */
	/* border-bottom: 1px solid #69B600;   */
	-webkit-transition: border-bottom 0.2s, color 0.2s;
	transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
	color: #555;
	border-bottom: 1px solid #69B600;
}

/* ----- BUTTONS ----- */

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	/* it won't force a line break but it can have some padding and margin just like the block elements */
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	color: #000;
	background-color: #96FF00;
	border: 5px solid #96FF00;
	margin-right: 15px;
	font-weight: bold;
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #96FF00;
	border: 5px solid #96FF00;
	font-weight: bold;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
	background-color: #96FF00;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
	border: 5px solid #96FF00;
}

.btn-ghost:hover,
.btn-ghost:active {
	color: #000;
	border: 5px solid #96FF00;
	font-weight: bold;
}

.btn.btn-full.order {
	color: #fff;
	background-color: #69B600;
	border: 5px solid #69B600;
}

.btn.btn-full.order:hover {
	color: #000;
	background-color: #96FF00;
	border: 5px solid #96FF00;
}

.btn.btn-ghost.order {
	color: #000;
	border: 5px solid #69B600;
}

.btn.btn-full.order {
	color: #fff;
	background: #69B600;
	border: 5px solid #69B600;
}

.btn.btn-ghost.order:hover {
	border: 5px solid #96FF00;
	color: #000;
}

/* ----- HEADER ----- */

header {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(img/hero-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero-min.jpg);
	/* puts linear gradient on top of the image, it's like using two background images at the same time, it takes two colors for the gradient - from one color to another */
	background-size: cover;
	/* to see the whole image */
	background-position: center;
	height: 100vh;
	/* 100% of the viewport height */
	position: relative;
	background-attachment: fixed;
	/* the background image stays fixed, always in the same place, so we can scroll over it */
}

.hero-text-box {
	position: absolute;
	width: 1280px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* translates the element; half of its width and of its height up and to the left */
}

.logo {
	height: 150px;
	width: auto;
	/* determined automatically, based on the height */
	float: left;
	margin-top: 20px;
}

.logo-black {
	height: 70px;
	width: auto;
	float: left;
	margin: 5px 0;
	display: none;
}

/* ----- MAIN NAVIGATION ----- */

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a {
	font-size: 24px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 4px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 4px solid #69B600;
}

/* ----- STICKY NAVIGATION ----- */

.sticky {
	/* stays always in one place */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.98);
	box-shadow: 0 2px 2px #efefef;
	z-index: 9999;
	/* defines the stacking of elements in the z-axis; 9999 is the maximum value and the element with sticky class will be always on the top */
}

.sticky .main-nav {
	margin-top: 28px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
	padding: 18px 0 5px 0;
	color: #555;
}

.sticky .logo {
	display: none;
}

.sticky .logo-black {
	display: block;
}

/* ----- MOBILE NAVIGATION ----- */

.mobile-nav-icon {
	float: right;
	margin-top: 30px;
	cursor: pointer;
	display: none;
}

.mobile-nav-icon i {
	font-size: 300%;
	color: #fff;
}

.sticky .mobile-nav-icon i {
	color: #69B600;
}

/* ----- FEAUTURES ----- */

.section-features .long-copy {
	margin-bottom: 30px;
}

/* ----- MEALS ----- */

.section-meals {
	padding: 0;
}

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	width: 100%;
	/* this element has the exact width of its parent element which is meals-showcase li */
	margin: 0;
	overflow: hidden;
	/* so the scaled images won't overflow the container */
	background-color: #000;
	/* black container so the images show darker with opacity */
}

.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	/* zooms in the image, it scales it and it removes the whitespace between the two uls, but it also overflow the container */
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
	opacity: 1;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	/* we don't scale it back to 1 because then the whitespace between the uls will show */
}

/* ----- HOW IT WORKS ----- */

.section-steps {
	background-color: #f4f4f4;
}

.steps-box {
	margin-top: 30px;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
}

.steps-box:last-child {
	text-align: left;
	padding-left: 3%;
	margin-top: 70px;
}

.app-screen {
	width: 40%;
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 80px;
}

.works-step div {
	color: #69B600;
	border: 3px solid #69B600;
	display: inline-block;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	/* if we want it to be a circle it has to be wide as it's high */
	text-align: center;
	padding: 6px;
	/* float: left;    */
	font-size: 150%;
	margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
	border: 0;
}

.works-step p {
	text-align: justify;
}

.btn-app img {
	height: 50px;
	width: auto;
	margin-right: 10px;
}

/* ----- CITIES ----- */

.section-cities .box img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

.city-feature {
	margin-bottom: 5px;
}

/* ----- TESTIMONIALS ----- */

.section-testimonials {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(img/back-customers-min.jpg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers-min.jpg);
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

blockquote:before {
	content: "\275D";
	font-size: 500%;
	display: block;
	position: absolute;
	top: -5px;
	left: -5px;
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
	font-style: normal;
}

cite img {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle;
	overflow: hidden;
	object-fit: cover;
}

/* ----- SIGN UP ----- */

.section-plans {
	background-color: #f4f4f4;
}

.plan-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	/* to center it inside of its parent, 5% is half of the remaining 10% left*/
	-webkit-box-shadow: 0 2px 2px #efefef;
	box-shadow: 0 2px 2px #efefef;
	/* X, Y, blur, color */
}

.plan-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.plan-box div:last-child {
	text-align: center;
	border: 0;
}

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #69B600;
	font-weight: bold;
}

.plan-price span {
	font-size: 30%;
	font-weight: bold;
}

.plan-price-meal {
	font-size: 80%;
}

.plan-box ul {
	list-style: none;
}

.plan-box li {
	padding: 5px 0;
}

/* ----- CONTACT FORM ----- */

.contact-form {
	width: 90%;
	margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}

input[type=checkbox] {
	margin: 10px 5px 10px 0;
}

*:focus {
	outline-color: #69B600;
}

.map-box {
	width: 100%;
	height: 620px;
	position: relative;
}

.map {
	width: 50%;
	height: 620px;
	position: relative;
	z-index: 0;
}

.form-box {
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	z-index: 10;
	height: 620px;
	padding-top: 50px;
}

input#name:active,
input#email:active,
select#find-us:active,
input#news:active,
textarea#message:active,
input#name:hover,
input#email:hover,
select#find-us:hover,
input#news:hover,
textarea#message:hover,
input#name:focus,
input#email:focus,
select#find-us:focus,
input#news:focus,
textarea#message:focus,
input#name:focus-visible,
input#email:focus-visible,
select#find-us:focus-visible,
input#news:focus-visible,
textarea#message:focus-visible {
	border: 1px solid #69B600;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:active,
input[type="checkbox"]:focus-visible {
	border: 1px solid #69B600;
	background-color: #69B600;
	background: #69B600;
}

input[type="checkbox"]:checked+label::after {
	background-color: #69B600 !important;
	background: #69B600 !important;
}

input.send {
	background-color: #69B600;
	border: 5px solid #69B600;
	color: #fff;
	margin-top: 25px;
}

input.send:hover {
	color: #000;
	background-color: #96FF00;
	border: 5px solid #96FF00;
}

/* ----- FOOTER ----- */

footer {
	background-color: #262626;
	padding: 50px;
	font-size: 80%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;
	border-bottom: 3px solid #96FF00;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 150%;
}

.social-links li a:hover {
	color: #96FF00;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.ion-social-facebook:hover {
	color: #96FF00;
}

.ion-social-twitter:hover {
	color: #96FF00;
}

.ion-social-googleplus:hover {
	color: #96FF00;
}

.ion-social-instagram:hover {
	color: #96FF00;
}

footer p {
	color: #888;
	text-align: center;
	margin-top: 20px;
}

footer span {
	color: #96FF00;
}

/* ----- ANIMATIONS ----- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
	opacity: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.js--wp-4 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

/* the element should have both classes at the same time */

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
	opacity: 1;
}